.navbar {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--yellow-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  align-items: center;
  color: #333;
}

.navbar li {
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.navbar img {
  height: 2rem;
  width: auto;
}

.navbar li:hover {
  background: #e0e0e0;
}

.navbar .logo:hover {
  background: none;
  cursor: default;
}

.resources {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 0.2rem;
  border: 1px solid #ccc;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}